body {
    font-family: Arial;
    background-color: white;
    color: #333;
  }
  header {
    background-color: rgb(246, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
  }
  div{
    margin: 4em 0;
}
  img{
    display: block;
    margin: 0 auto;
    width: 1080px;
    height: 640px;
}
  footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}